<div fxLayout="row" fxLayoutWrap>
    <div *ngFor="let article of articles; let i = index;" fxFlex.gt-md="33" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <article-preview [article]="article"
            (alSeleccionarAutor)="verAutoresPost($event)">
        </article-preview>
        <div *ngIf="(i + 1) % pageSize == 0; then content"></div>
        <ng-template #content>
            <paginate (loadNextPageEvent)="loadNextPage($event)" [page]="((i + 1) / pageSize | Round) + 1"></paginate>
        </ng-template>
    </div>
</div>