<md-card class="example-card">
    <img md-card-image [src]="article.media" alt="Photo of a Shiba Inu">
    <md-card-header>
        <div md-card-avatar class="example-header-image">
            <md-icon>account_circle</md-icon>
        </div>
        <md-card-title>{{article.owner.username}}</md-card-title>
        <md-card-subtitle>{{article.publicationDate}}</md-card-subtitle>
    </md-card-header>

    <md-card-content>
        <h3>{{article.title}}</h3>
        <div [innerHtml]="plainTextToHtml(article.summary)"></div>
    </md-card-content>
    <md-card-actions>
        <button md-button><md-icon>label</md-icon> {{article.category.name}}</button>
    </md-card-actions>
</md-card> 