<md-toolbar color="primary" class="mat-elevation-z6">
    <span class="docs-button mat-button _overhand" (click)="goHome()">Wellcoders!</span>
    <span class="spacer"></span>
    <span class="mat-caption" *ngIf="user">Wellcome, <a class="_overhand" [mdMenuTriggerFor]="usermenu">{{ user.user.first_name ? user.user.first_name : user.user.username }}</a></span>

    <md-menu #usermenu="mdMenu">
      <button md-menu-item (click)="createArticle()"><i class="fa fa-keyboard-o fa-lg" aria-hidden="true"></i> - Create Article</button>
      <button md-menu-item (click)="drafts()"><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i> - Borradores</button>      
      <button md-menu-item (click)="deleted()"><i class="fa fa-remove fa-lg" aria-hidden="true"></i> - Eliminados</button>      
      <button md-menu-item (click)="settings()"><i class="fa fa-cogs fa-lg" aria-hidden="true"></i> - Settings</button>
      <button md-menu-item (click)="logout()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> - Logout</button>
    </md-menu>

  <span *ngIf="!user" class="docs-button mat-button"><button md-button (click)="openLoginDialog()">Login</button></span>
  <span *ngIf="!user" class="docs-button mat-button"><button md-button (click)="openRegisterDialog()">Register</button></span>
  <md-toolbar-row>
      <button *ngFor="let category of categories" (click)="notifyCategorySelected(category)" md-button><i class="fa fa-tag"></i>&nbsp;&nbsp;{{category.name}}</button>
  </md-toolbar-row>
</md-toolbar>