.must_authenticate {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.8em;
    text-align: right;
}

.comment-controls {
    width: 215px;
    text-align: right;
}

@media(max-width: 600px) {
    .comment-controls button {
        padding: 0 4px;
        min-width: 36px;
    }
}