<form ngForm #article="ngForm" (ngSubmit)="publish(article)" class="mat-typography" fxLayout="row" fxLayoutWrap>
    <div fxFlex.gt-md="63" fxFlex.md="63" fxFlex.sm="100" fxFlex.xs="100">
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h1>Content</h1>
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <div class="mat-card-header-text">
                    <md-form-field class="full-width">

                        <input mdInput type="text" name="title" placeholder="Title" [(ngModel)]="title" required>

                    </md-form-field>
                    <md-form-field class="full-width">
                        <textarea mdInput mdTextareaAutosize [mdAutosizeMinRows]="5" name="summary" placeholder="Summary" [(ngModel)]="summary" required></textarea>
                    </md-form-field>

                    <md-form-field class="full-width">
                        <input mdInput type="text" name="media" placeholder="Media" [(ngModel)]="media">
                        <md-hint align="start"><strong>Set a url of an image or a video</strong> </md-hint>
                    </md-form-field>

                    <div class="full-width mat-form-field" ng-reflect-class-base="full-width">
                        <div class="mat-form-field-wrapper">
                            <div class="mat-form-field-flex">
                                <div class="mat-form-field-infix">
                                    <label class="mat-input-placeholder mat-form-field-placeholder mat-empty mat-form-field-empty mat-float mat-form-field-float position-fix">
                                        Content
                                    </label>
                                    <div class="wysiwyg-fix">
                                        <ckeditor name="content" [(ngModel)]="content" [config]="
                                        {toolbar: [
                                                { name: 'document', items: [ 'Source' ] },
                                                { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline' ]},
                                                { name: 'links', items: [ 'Link' ] },
                                                { name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ]},
                                                { name: 'insert', items: [ 'Image' ] },
                                                { name: 'styles', items: [ 'Format' ]}
                                            ]
                                        
                                        }" required>
                                        </ckeditor>
                                    </div>
                                </div>
                            </div>
                            <div class="mat-input-underline mat-form-field-underline">
                                <span class="mat-input-ripple mat-form-field-ripple"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div fxFlex.gt-md="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xs="100">
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h1>Publish status & Category</h1>
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <div class="mat-card-header-text">
                    <div class="date-row">
                        <md-form-field class="datepicker">
                            <input [(ngModel)]='publish_date' name="publish_date" mdInput [mdDatepicker]="picker" placeholder="Publish date">
                            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                            <md-datepicker #picker></md-datepicker>
                        </md-form-field>
                        <md-form-field class="timefield">
                            <input mdInput type="number" name="hour" min="0" max="23" placeholder="Hour" [(ngModel)]='hour'>
                        </md-form-field>
                        <md-form-field class="timefield">
                            <input mdInput type="number" name="minute" min="0" max="59" placeholder="Minute" [(ngModel)]='minute'>
                        </md-form-field>
                    </div>

                    <div class="mat-input-wrapper mat-form-field-wrapper">
                        <md-select name="status" [(ngModel)]="status" class="full-width" placeholder="Status">
                            <md-option *ngFor="let status of statuses" [value]="status.code">
                                {{ status.name }}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="mat-input-wrapper mat-form-field-wrapper">
                        <md-select name="category_id" [(ngModel)]="category_id" class="full-width" placeholder="Category">
                            <md-option *ngFor="let category of categories" [value]="category.pk">
                                {{ category.name }}
                            </md-option>
                        </md-select>
                    </div>

                    <button class="full-width" md-raised-button *ngIf="mode=='create'" type="submit">Publish</button>
                    <button class="full-width" md-raised-button *ngIf="mode=='update'" type="submit">Update</button>
                </div>
            </md-card-content>
        </md-card>

    </div>
</form>