  <form ngForm #user="ngForm" (ngSubmit)="submitUser(user)">  
    <md-form-field>
      <input mdInput type="text"
      name="username"
      placeholder="Username"
      ngModel #username="ngModel"
      required>

    </md-form-field>

    <md-form-field>
        <input mdInput type="text"
        name="first_name"
        placeholder="First Name"
        ngModel #first_name="ngModel"
        required>
    </md-form-field>

    <md-form-field>
        <input mdInput type="text"
        name="last_name"
        placeholder="Last Name"
        ngModel #last_name="ngModel"
        required>
    </md-form-field>

    <md-form-field>
        <input mdInput type="email"
        name="email"
        placeholder="E-mail"
        ngModel #email="ngModel"
        required>
  
    </md-form-field>

    <md-form-field>
        <input mdInput type="password"
        name="password"
        placeholder="Password"
        ngModel #password="ngModel"
        required>
  
    </md-form-field>

    <button md-button color="Primary" type="submit" [disabled]="user.invalid" >Register</button>
  </form>