  <form ngForm #user="ngForm" (ngSubmit)="submitUser(user)">  
    <md-form-field ngClass="{{ rowStyle }}">
      <input mdInput type="text"
      name="username"
      placeholder="Username"
      ngModel #username="ngModel"
      required
      >
      <md-error *ngIf="username.hasError('required')">
          Username is <strong>required</strong>
      </md-error>

    </md-form-field>
    

    <md-form-field ngClass="{{ rowStyle }}">
        <input mdInput type="text"
        name="first_name"
        placeholder="First Name"
        ngModel #first_name="ngModel"
        required>
        <md-error *ngIf="first_name.hasError('required')">
        First name is <strong>required</strong>
        </md-error>
    </md-form-field>

    <md-form-field ngClass="{{ rowStyle }}">
        <input mdInput type="text"
        name="last_name"
        placeholder="Last Name"
        ngModel #last_name="ngModel">
    </md-form-field>

    <md-form-field ngClass="{{ rowStyle }}">
        <input mdInput type="email"
        name="email"
        placeholder="E-mail"
        ngModel #email="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
        required>
        <md-error *ngIf="email.hasError('pattern')">
        Please enter a valid email address
        </md-error>
        <md-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
        </md-error>
  
    </md-form-field>

    <md-form-field ngClass="{{ rowStyle }}">
        <input mdInput type="password"
        name="password"
        placeholder="Password"
        ngModel #password="ngModel"
        required>
        <md-error *ngIf="password.hasError('required')">
        Password is <strong>required</strong>
        </md-error>
    </md-form-field>
    
    <button ngClass="{{ rowStyle }}" md-raised-button color="Primary" type="submit" [disabled]="user.invalid" >Register</button>
  </form>