@import "~https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../node_modules/font-awesome/css/font-awesome.css";
html,
body {
    margin: 0;
    padding: 0;
}

md-card {
    max-width: 80%;
    margin: 2em auto;
}

.full-width {
    width: 100% !important;
}

.date-row>.datepicker {
    width: 49% !important;
}

.date-row>.timefield {
    width: 24% !important;
}

.mat-input-wrapper .mat-select-trigger {
    font-size: 14px !important;
}

.mat-label {
    color: rgba(255, 255, 255, .7) !important;
}

.position-fix {
    position: initial !important;
}

.wysiwyg-fix {
    padding: .4375em 0;
}

.mat-card-header-text  {
    width: 100% !important;
}

*[hidden] {
    display: none !important;
}

._overhand {
    cursor:pointer;
}